body,div,td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #666;
}

body {
	background-color: #CCF0D7;
	background-image: url(../static/obrazek_louka.png);
	background-position: top center;
	background-repeat: no-repeat;
	text-align: left;
	min-width: 600px;
	margin-top: 140px;
	margin-left: auto;
	margin-right: auto;
}

a:link {
	color: #54A06C;
}

a:hover {
	color: #54A26C;
}

a:active {
	color: #7db223;
}

a:visited {
	color: #047828;
}

table {
	border-collapse: collapse
}

table.smltab {
	width: 300px
}

table.klitab {
	width: 300px
}

table.partab {
	width: 300px
}

table.lvtab {
	width: 300px
}

table.kattab {
	width: 300px
}

th {
	text-align: left;
	background-color: #CCF0D7
}

ul.tableList li.tableList {
	padding: 5px
}

tr:nth-child(odd).tableList {
	background-color: #CCFED7;
}

tr:nth-child(even).tableList {
	background-color: #CCF0D7;
}

td {
	text-align: left
}

tr {
	height: 35px
}

#main {
	margin: 0 auto;
	position: relative;
	top: 35px;
	left: 0px;
	width: 1000px;
	text-align: left;
}

.footer {
	background:#fff;
	border:none;
	margin-top:20px;
	border-top:1px solid #999999;
	width:100%;
}

.footer td {
	text-align:center;
	color:#999999;
}

.vertical_menu {
	position: relative;
	padding: 10px;
	float : left;
	width: 160px;
	text-align: left;
	margin-right: 50px;
}

.content {
	margin-left: 220px
}

.vertical_menu_r {
	position: fixed;
	padding: 10px;
	float : right;
	width: 160px;
	text-align: left;
	margin-left: 600px;;
}

.vertical_menu li {
	display: block;
	height: 25px;
	background-color: #CCFED7;
	list-style: none;
	font-size: 18px;
	margin: 5px;
}

.vertical_menu_r li {
	display: block;
	height: 25px;
	background-color: #CCFED7;
	list-style: none;
	font-size: 18px;
}

.vertical_menu li a {
	text-decoration: none;
	color: black;
}

.vertical_menu_r li a {
	text-decoration: none;
	color: black;
}

.vertical_menu li a:hover {
	text-decoration: underline;
}

.vertical_menu_r li a:hover {
	text-decoration: underline;
}